/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- all --- */

body {
    /* margin: 60px auto; */
    margin: 40px auto 60px auto;
    width: 90%;
    font-size: 1em;
    line-height: 1.2em;
    font-family:'DejaVu Sans Mono', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

/* --- nav --- */

nav {
    padding-bottom: 50px;
}
#logo {
    width:20%;
    max-width:140px;
    float: right;
}
nav ul, footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

/* --- footer --- */
footer {
    clear: both;
}

/* --- flex layout --- */

/* div.container { */
div.flex-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article {
    padding-bottom: 80px;
}

/* --- post --- */

p.post-title {
    color: #eee;
    line-height: 1.5em;
}
